@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap');

body {
  font-family: 'Montserrat', sans-serif;
  font-size: 15px;
  font-weight: 500;
  color: black;
}


.App {
  text-align: center;
  color: red;
}

html, body, div, p, h1, header, nav, aside, main, footer, a, ul, li, input, form {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.wrap {
  display: grid;
  grid-template-rows: 70px 1fr 90px;
  grid-template-columns: 20% 1fr;
  grid-template-areas:
    "h h"
    "n m"
    "f f";
}


