.App {
  text-align: center;
  color: red;
}

html, body, div, p, h1, header, nav, aside, main, footer, a, ul, li, input, form {
  margin: 0;
  padding: 0;
  outline: 0;
  border: 0;
}

a {
  text-decoration: none;
  color: inherit;
  display: block;
}

.wrap {
  display: grid;
  grid-template-rows: 70px 1fr 90px;
  grid-template-columns: 20% 1fr;
  grid-template-areas:
    "h h"
    "n m"
    "f f";
}



header {
  background-color: rgb(0, 191, 255);
  grid-area: h;
}




nav {
  background-color: #98e2ff;
  grid-area: n;
}

.nav_wrap {
  display: flex;
  flex-direction: column;
}




main {
  padding: 2%;
  background-color: rgba(207,153,255,0.59);
  grid-area: m;
}






.profile_wrap {
  background-color: #ffd836 ;
}

.back_photo {
  width: 100%;
}









footer {
  background-color: #cf99ff;
  grid-area: f;
}
