/*.profile_wrap {*/
/*    background-color: #ffd836 ;*/
/*}*/

.back_photo {
    width: 100%;
}

.item {
    background-color: #b2def6;
    margin: 20px;
    padding: 20px;
    height: 70px;
    border-radius: 10px;
}

.active {
    background-color: #f5e0b1;
}